<div class = "row">
  <div class = "span6">
    <div class = "hero-unit">
      <h3><span>What was the total domestic distribution advance that you received for your last film?</span></h3>
        <%= form_for(@financial) do |f| %>
          <%= f.label :your_advance %>
        <% end %>
        <input type="text" value="<%= @financial.advance %>" disabled>
        <br /><br /><br />
    </div>
  </div>
  <div class = "span6">
    <div class = "hero-unit">
      <h3>The average of all users<br /><br /><br /></h3>

        <%= form_for(@financial) do |f| %>
          <%= f.label :average %>
         <% end %>
         <input type="text" value="<%= Financial.average('advance') %>" disabled>
        <br /><br /><br />
    </div>
  </div>
</div>



	

